.intro{
	font-size: 50px;
	text-align: center;
	margin:0;
	padding: 0;
}

.mainNav {
	text-align: right;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	text-align: right
}
html {
	background-color:white;
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh
}
footer {
	text-align: right;
}
#pic {
	height: 20vh;
	float: left;
}
#resume {
	list-style-type: none;
	width: 145px
}
#resume:hover{
	background-color: antiquewhite;
}
.homebtn{
	width:76px
	}
.homebtn:hover{
	background-color: antiquewhite;
}
#p1{
	float: right;
}
.contactmebtn:hover{
	background-color: antiquewhite;
}
#submitbtn:hover{
	background-color: antiquewhite
}